<footer style="text-align: center; padding: 5px; color: #237CBE; background: #F0F0F0">
  <p>
    Copyright &copy; 2013
    <%= link_to 'The Pragmatic Studio','http://pragmaticstudio.com' %>
  </p>
</footer>
