@import "colors";

header#page-header {
	color: $secondary-color;
	background: $primary-color;
	padding: 5px;
	border-bottom: 3px solid darken($primary-color, 10%);

	h1 {
		text-align: center;
		text-transform: uppercase;
	}
}

footer#page-footer {
	text-align: center;
	padding: 5px;
	color: $primary-color;
	background: $secondary-color;
	border-top: 3px solid darken($secondary-color, 10%)
}

aside#page-sidebar {
	float: right;
	background: $secondary-color;
	width: 200px;
}