<aside id="sidebar">
  <nav>
    <ul>  
      <li class="upcoming-events">
        <%= link_to "All Events", events_path, class: 'button' %>
      </li>
      <li class="create-event">
        <%= link_to 'Add New Event', new_event_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>
