<% if @movie.errors.any? %>
<section id="errors">
  <header>
    <h2>
      Oops! The <%= @movie.class.name.humanize.downcase %> could not be saved. 
    </h2>
    <h3>
      Please correct the following <%= pluralize(@movie.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% @movie.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>