<aside id="sidebar">
  <nav>
    <ul>  
      <li class="all-projects">
        <%= link_to "All Projects", projects_path, class: 'button' %>
      </li>
      <li class="create-project">
        <%= link_to 'Add New Project', new_project_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>